<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tai.mapper.PeopleMapper">
<!--   serch by name-->
    <select id="selAll" resultType="people">
        select * from people
    </select>
    <select id="selById" resultType="people" parameterType="int">
        select * from people where id=#{0}
    </select>
    <select id="selByName" resultType="people" parameterType="map">
        select * from people where name=#{name}
    </select>

</mapper>
