<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--     構造函數-->
    <bean id="peo" class="com.tai.pojo.People"  >
        <constructor-arg name="age" index="1" value="23"/>
        <constructor-arg name="name" value="張三" />
    </bean>

<!--    -->
    <bean id="factory" class="com.tai.pojo.PeopleFactory" />
    <bean id="peo1" factory-bean="factory" factory-method="newInstance"/>

</beans>

