<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="peo" class="com.tai.pojo.Person">
<!--    <constructor-arg index="0" name="id" value="0"/>-->
<!--    <constructor-arg index="1" name="name" value="tai"/>-->
    <property name="id" value="1"/>
    <property name="name" value="泰爺"/>
    <property name="student" ref="stu"/>
</bean>
    <bean id="stu" class="com.tai.pojo.Student">
        <property  name="name" value="kontai"/>
        <property name="age" value="20"/>
    </bean>
</beans>